appname={{.AppName}}
version={{.Version}}
display_name={{.DisplayName}}
desc={{.Description}}
arch=x86_64
source=thirdparty
maintainer={{.Maintainer}}
distributor={{.Maintainer}}
os_min_version=0.9.0
install_type=root
{{- if .DefaultLaunchEntry}}
desktop_uidir=ui
desktop_applaunchname={{.DefaultLaunchEntry}}
{{- if .Port}}
service_port={{.Port}}
checkport=false
{{- end}}
{{- end}}
